# OS
.DS_Store

# dataset
oxford-iiit pet dataset/
# Python
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
.venv/
venv/


# Node / JS
node_modules/
dist/
coverage/
*.tsbuildinfo

# Logs
*.log

# Local env/config
.env
.env.*
node_modules
